.agenda_list1{
	background-color:  	#00628B;
	float: none;
	width: 700px;

	margin-bottom: 30px;
	border-radius: 15px;
	 padding: 15px 10px;
}


.agenda_list1 .fix1{
	display:inline-block;
	position:relative;
	color: white;
  
}

.agenda_list1 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list1 .fix1 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}
.agenda_list2{
	background-color:  	#00628B;
	float: none;
	
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list2 .fix2{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list2 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list2 .fix2 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}
.agenda_list3{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list3 .fix3{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list3 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list3 .fix3 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}




.agenda_list4{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list4 .fix4{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list4 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list4 .fix4 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}

.agenda_list5{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list5 .fix5{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list5 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list5 .fix5 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

}
.agenda_list6{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list6 .fix6{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list6 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list6 .fix6 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}
.agenda_list7{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 150px;

	margin-bottom: 30px;
	border-radius: 15px;
	    padding-left: 25px;
    padding-right: 10px;
}


.agenda_list7 .fix7{
	display:inline-block;
	position:relative;
	color: white;
    text-align: left;
    width: 50%;
    float: left;
    margin-right:50px;
}

.agenda_list7 img{
	display:inline-block;
	width: 150px;
	height: 140px;
	float: right;
	padding: 0;
	margin: 3px;
	margin-right: :10px;
}


.agenda_list7 .fix7 p{
	color:black;
	display:inline-block;

	    font-size: 18px;
    float: left;

 
}




.sampleQuestion_list{
	background-color:  	#00628B;
	text-align:center;
	float: none;
	width: 700px;
	
	padding: 15px;
	margin-bottom: 30px;
}
.sampleQuestion_list p{
	color: white;
	float: left;
	padding: 5px;
	font-weight: bold;

}
.sampleQuestion_list img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.reply_list{
	background-color:  	#337AB7;
	float: none;
	width: 700px;
	height: 250px;
	padding: 10px;
	margin-bottom: 30px;
}
.reply_list p{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.reply_list img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.sample_answers{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 200px;
	padding: 10px;
	margin-bottom: 30px;
}
.sample_answers p{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.sample_answers img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.recall_flashwords{
	background-color: #00628B;
    /* float: left; */
    /* width: 700px; */
    /* height: 600px; */
    padding: 30px;
    margin-bottom: 30px;
}
.recall_flashwords p{
	color: white;
	float: left;
	font-weight: bold;

}
.recall_flashwords form{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.recall_flashwords img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}

.recall_answers{
	background-color:  	#00628B;
	float: none;
	width: 700px;
	height: 220px;
	padding: 10px;
	margin-bottom: 30px;
}
.recall_answers p{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.recall_answers img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.FlashWords{

	
	padding: 10px;

	margin-bottom: 30px;
}
.FlashWords p{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.FlashWords img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.MathQuestions{
	    background-color: #00628B;
    float: left;
    width: 700px;
    padding: 0px;
    margin-right:30px;
    margin-bottom: 12px;

	padding: 10px;
	margin-bottom: 30px;
}
.MathQUestions p{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.MathQUestions form{
	color: white;
	float: left;
	padding: 5px;
	margin-left: 40px;
	font-weight: bold;

}
.MathQuestions img{
	position: relative;
	width: 150px;
	height: 130px;
	float: right;
	padding: 0;
	margin: 0;
}
.word_list{
	float:left;
}


.submit_button{
	clear: both;

	margin-bottom:10px;
	

#brand_logo{
	color: white;
	font-size: 25px;
	margin-right: 30px;
	padding-top: 5px;
}

#brand_logo a:hover{
	text-decoration: none;

}
.word_list{

text-align:left;
text-overflow:;
float: left;
    position: relative;
    margin-right: 20px;
}

}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.card {
  position: relative;
  padding-left: 5em;
  float: left;
      padding-bottom: 12%;
 
  width:10%;

  text-align: center;
}


/* card fronts and backs */
.card__front,
.card__back {
	position: absolute;
	top: -38px;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #00628B;
    border: white solid 5px;
}

.card__back {
 background-color: #81A594;
     border: white solid 5px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);

}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}
.carddimensions
{
	    /* height: 300px; */
    width: 1058px;
}
/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

div.form-group{
    
      padding: 0.1em;
    margin: 0.1em;
    float: left;
    margin-right: 10px;

}

div.form-group label{
    margin-right: 76px;
    color: black;
    width: 14px;
}

div.form-group1{
    
      padding: 0.1em;
    margin: 0.1em;
    float: left;
    margin-right: 131px;

}

div.form-group1 label{
    margin-right: 10px;
    color: black;
    width: 53px;
}



div.form-group1 flash1{
    width:50%;
    padding-top:8px;
    border:none;
    background:white;
}
div.form-group2{
    
    padding:0.1em;
    margin:0.1em;
        float: left;
    margin-right: 60px;

}

div.form-group2 label{
         margin-right: 115px;
    color: black;
    width: 283px;
}



.form-control{
    
    width: 131px;
}

 .control{
      width: 675px;
}
.clear {
    clear: both; 
}
